{namespace d=Tx_Dmailsubscribe_ViewHelpers}

<f:layout name="HtmlEmail" />

<f:section name="Main">
    <h1>Success</h1>
    <p>You have been subscribed to our newsletter. Please klick the following link to confirm your subscription:  <d:link.confirm subscriptionUid="{subscription.uid}" confirmationCode="{confirmationCode}">Confirm subscription</d:link.confirm></p>
    <p>To unscubscribe from our newsletter click the following link: <d:link.unsubscribe subscriptionUid="{subscription.uid}" confirmationCode="{confirmationCode}">Unsubscribe</d:link.unsubscribe></p>
</f:section>

