<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/DPN/Dmailsubscribe/ViewHelpers">

<f:layout name="HtmlEmail"/>

<f:section name="Main">
    <h1><f:translate key="email.greeting"/></h1>

    <p><f:translate key="email.confirm_link_help"/>:
        <d:link.confirm subscriptionUid="{subscription.uid}" confirmationCode="{confirmationCode}">
            <f:translate key="email.confirm_link_text"/>
        </d:link.confirm>
    </p>
    <p><f:translate key="email.unsubscribe_link_help"/>:
        <d:link.unsubscribe subscriptionUid="{subscription.uid}" confirmationCode="{confirmationCode}">
            <f:translate key="email.unsubscribe_link_text"/>
        </d:link.unsubscribe>
    </p>
</f:section>

